.footer__section-links {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;
  }

  .footer__section-links:last-of-type {
    margin-right: 0; 
  }

  
  @media screen and (min-width: 760px) {
    .footer__section-links {
      flex-direction: row;
      margin-right: 18px;
    }
  }
  
    
  