.header__section-links {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0;
    padding: 0;
}

.header__section-links.header__lang-link:last-of-type {
    margin-right: 0;
} 