.header {
    background-color: #2a2c2f;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    align-items: end;
    min-height: 52px;
    padding: 0 48px;
    padding-top: 28px;
  }
  
  @media screen and (max-width: 768px) {
    .header {
      padding: 0 24px;
    }
  }
  
  @media screen and (max-width: 440px) {
    .header {
      padding: 0 16px;
    }
  }
  

