.place__website {
    margin: 0;
    padding: 0 16px;
    max-width: 100%;
    grid-area: website;
    align-self: end;
  }

  @media screen and (min-width: 750px) {
    .place__website { 
        padding: 0;
        
    }

}
  